body{
  background-color: aliceblue;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  row-gap: 50px;
}

.users-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-height: 400px;
  background-color: aquamarine;
  row-gap: 10px;
}

.user {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  justify-content: space-around;
  border: 1px solid gray;
  width: 90%;
  overflow: hidden;
}

.rightUserProfile{
  width: 80%;
}

@media (max-width: 800px) {
  .users-list {
    flex: 100%;
  }
}

.avatar {
  border-radius: 50%;
  height: 80%;
  max-width: 80%;
}
